### Java ###
*.class
*.jar
*.war
*.ear

### Maven ###
target/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### VSCode ###
.vscode/

### Logs ###
logs/
*.log

### OS ###
.DS_Store
Thumbs.db

### Sensitive Config ###
**/jdbc.properties
