<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 写一个根标签：namespace 指定当前mapper的命名空间 -->
<mapper namespace="com.study.mapper.ScheduleMapper">


	<!-- 根据所要操作的表 改写命名空间和编写SQL语句 -->
	<select id="queryList" resultType="schedule">
		SELECT *
		FROM schedule;
	</select>
	<!-- 写增删改查的SQL语句 -->

	<select id="findByPage" resultType="schedule">
		SELECT *
		FROM schedule
		LIMIT #{offset},#{pageSize}
	</select>

	<select id="countTotal" resultType="Integer">
		SELECT COUNT(*)
		FROM schedule
	</select>

	<insert id="addSchedule" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO schedule (title, completed)
		VALUES (#{title}, #{completed})
	</insert>

	<delete id="deleteSchedule">
		DELETE
		FROM schedule
		WHERE id = #{id}
	</delete>

	<update id="updateSchedule">
		UPDATE schedule
		SET title     = #{title},
		    completed = #{completed}
		WHERE id = #{id}
	</update>

</mapper>