<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--	控制日志输出  -->
	<settings>
		<setting name="logImpl" value="STDOUT_LOGGING"/>
	</settings>

	<!-- 可选：类型别名，便于在 Mapper XML 里用短名,name中填写实体类的包位置 -->
	<typeAliases>
		<package name="com.study.pojo"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<!-- MySQL 8+ 常用驱动 -->
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
				<property name="username" value="root"/>
				<property name="password" value="LHTl527218713"/>
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<!--    resource中填写资源目录下的mapper.xml的全限定符    -->
		<package name="com.study.mapper"/>
	</mappers>

</configuration>
