<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.OrderMapper">
	<resultMap id="orderMap" type="order">
		<id column="order_id" property="orderId"/>
		<result column="order_name" property="orderName"/>
		<result column="customer_id" property="customerId"/>

		<!--	如果给对象属性赋值
					property 对象属性名
					javaType 对象类型
			-->
		<association property="customer" javaType="customer">
			<id column="customer_id" property="customerId"/>
			<result column="customer_name" property="customerName"/>
		</association>
	</resultMap>

	<select id="queryOrderById" resultMap="orderMap">
		SELECT *
		FROM mybatis.t_order ord
			     JOIN t_customer cus ON cus.customer_id = ord.customer_id
		WHERE ord.order_id = #{id};
	</select>

</mapper>